.gallery-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-wrapper {
  text-align: center;
}

.image {
  border-radius: 8px;
  transition: transform 0.3s ease;
  width: 150px;
  height: 150px;
}

.image:hover {
  transform: scale(1.05);
}

.loading-text,
.error-text {
  text-align: center;
}

.error-text {
  color: red;
}
